@{
    ViewBag.Title = "VolunteerPhotoCapture";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>VolunteerPhotoCapture</h2>

@using (Html.BeginForm("VolunteerClockIn", "VolunteerClockTime", new { locationId = ViewBag.LocationId, userName = ViewBag.UserName }, FormMethod.Post))
{
    @Html.AntiForgeryToken()


    <div class="center">
        <div id="Camera"></div>
        <input type="button" value="Capture" onclick="webcam.capture();" />
    </div>
    
    @*<div>
        <h3>Camera</h3>
        <input type="file" capture="camera" accept="image/*" id="cameraInput" name="cameraInput">
    </div>*@

    <div class="center">
        <input type="submit" value="Accept" />
    </div>
}

@section scripts
{
    <script src="@Url.Content("~/Scripts/jquery.webcam.js")">
    </script>
    <script type="text/javascript">
            $("#Camera").webcam({
                width: 320,
                height: 240,
                mode: "save",
                swffile: "@Url.Content("~/Scripts/jscam.swf")",
                onTick: function () { },
                onSave: function () {
                    UploadPic();
                },
                onCapture: function () {
                   
                    webcam.save("@Url.Content("~/VolunteerClockTime/Capture")/@ViewBag.VolunteerId");
                    
                },
                debug: function () { },
                onLoad: function () { }

            });
    </script>
} 

