<h1>Testing View</h1>

<div style="margin:initial">
    @Html.ActionLink("linky", "action", "controller", new { onclick = "someFunction();" })
</div>

@Html.ActionLink("Link1", "Test1", "Test", new { x = 5, s = "Hello" }, null)<br/>
@Html.ActionLink("Link2", "Test2", "Test", new { x = 5 }, null)<br/>
