@model TJS.VIMS.Models.Employee

@{
    ViewBag.Title = "CreateEmployeeConfirmation";
}

<h2>CreateEmployeeConfirmation</h2>

@Html.ActionLink("Return to admin portal", "Start", new { admin_id = ViewBag.AdminId })<br />

