@model TJS.VIMS.Models.Organization

@{
    ViewBag.Title = "CreateOrganizationConfirmation";
}

<h2>CreateOrganizationConfirmation</h2>

<div>
    @Html.ActionLink("Return to admin portal", "Start")<br />
</div>


