
@{
    ViewBag.Title = "DeleteEmployeeConfirmation";
}

<h2>DeleteEmployeeConfirmation</h2>

<div>
    @Html.ActionLink("Undo", "UndoDeleteEmployee", new { admin_id = ViewBag.adminId, id = ViewBag.Id })<br />
    @Html.ActionLink("Return to admin portal", "Start")<br />
</div>

