
@{
    ViewBag.Title = "Administration";
}

<h2>Administration</h2>

@Html.ActionLink("Add Organization", "AddOrganization")<br />
@Html.ActionLink("Edit Organization", "EditOrganization")<br />
@Html.ActionLink("Delete Organization", "DeleteOrganization")<br />


