
@{
    ViewBag.Title = "Start";
}

<h2>Start</h2>

@Html.ActionLink("Create Organization", "CreateOrganization")<br />
@Html.ActionLink("Create Employee", "CreateEmployee")<br />
@Html.ActionLink("Forgot Password", "Forgot Password")<br />


