
@{
    ViewBag.Title = "Start";
}

<h2>Start</h2>

@Html.ActionLink("Create Organization", "CreateOrganization", new { admin_id = ViewBag.AdminId })<br />
@Html.ActionLink("Create Employee", "CreateEmployee", new { admin_id = ViewBag.AdminId })<br />
@Html.ActionLink("Forgot Password", "Forgot Password")<br />


