<div>
    <b>You have worked @TJS.VIMS.Util.Utility.GetTotalHours(ViewBag.RecentClockInfo) toward your goal of YYY hours.</b><br />
    <progress value="22" max="100"></progress><br />
    <b>You have XXX hours remaining.</b>
</div>
