@model TJS.VIMS.ViewModel.VolunteerClockedInOutViewModel
@using View = TJS.VIMS.ViewModel.VolunteerClockedInOutViewModel;

<div>
    <strong>Most Recent Hours Worked</strong>
    <br />
    <br>
    <table align="center">
        @foreach (var time in Model.RecentClockInformation)
        {
            <tr>
                <td style='text-align:center; vertical-align:middle'>
                    @time.ClockInDateTime.Value.ToLongDateString() (@View.GetFormatedTimeSpan(time.ClockInDateTime.Value, time.ClockOutDateTime.Value))
                </td>
            </tr>
        }
    </table>
</div>
