body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.main-header {
    align-content:center;
    font-size: xx-large;
    font-weight:bolder;
    vertical-align:middle;
    position:relative;
    align-items:center;
    text-align:center;
}

.subheader{
    align-content:center;
    font-size:  larger;
    font-weight:bolder;
    vertical-align:middle;
    position:relative;
    align-items:center;
    text-align:center;
}

.logo{
    width:60px;
    height:60px;
}

.center {
    margin: auto;
    width: 60%;
   
    padding: 10px;
   text-align:center;
   align-content:center;
}